//-
//- Header template
//- ===============================
//- File name : headtag.jade
//- Author    : Hayato Doi
//- License   : MIT
//- ===============================
//- Copyright (c) 2017, Hayato Doi


meta(charset='utf-8')
meta(name='viewport',content='width=device-width, initial-scale=1')
meta(name='author', content='Hayato Doi')
title='Title'
link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic')
link(rel='stylesheet', href='//cdn.rawgit.com/necolas/normalize.css/master/normalize.css')
link(rel='stylesheet', href='//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css')
link(rel='stylesheet', href='//milligram.github.io/styles/main.css')
